body {
    margin: 0px;
    padding: 0px;
}
/* ------------------variables */

:root {
    --fuente1: 'Kalam', cursive;
    --fuente2: 'Open Sans Condensed', sans-serif;
    --color1: green;
    --color2: white;
    --color3: gray;
    --color4: black;
}
/* -----------------------fin variables */

/* -------------------------header */

.header {
    width: 100%;
    height: 100px;
    background-color: var(--color4);
    display: flex;
    justify-content: space-between;
}
.header__title {
    font-size: 55px;
    margin: 15px;
    color: var(--color3);
    font-family: var(--fuente1);
}
.header__menu{
    list-style: none;
    display: flex;
}

.header__menu--container {
    margin-right: 20px;
}
/* ----------------fin header */

.main {
    background-color: var(--color1);
    width: 100%;
    height: 781px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.titulos__main {
    color: var(--color2);
    font-size: 55px;
    font-family: var(--fuente2);
    margin-top: 20px;
    padding-left:25px;
}

.main__container hr {
    width: 500px;
}
 
.main__container p {
    color: var(--color2);
    font-family: var(--fuente2);
    font-size: 25px;
}
.button {
    background-color: var(--color3);
    width: 100px;
    margin-left: 50px;
    margin-top: 40px;
    border: 0px;
    border-radius: 40px;
    height: 45px;
    cursor: pointer;
    outline: none;
    float: right;
}

.button a {
    text-decoration: none;
    color: var(--color4);
    font-size: 10px;
    font-family: var(--fuente1);
}
button:hover {
    background-color: var(--color2);
    width: 150px;
    margin-left: 10px;
    transition: 400ms;
}

.img {
    width: 100px;
    border-radius: 75px;
    
}

.titulos {
    font-size: 30px;
    color: var(--color2);
    text-align-last: center;
}

.contenido {
    font-size: 30px;
    color: var(--color2);
    text-align-last: center;
}